body {
    background-color: blue;
    padding: 0px;
    margin: 0px;
}
.inhabitants-text {
    background-color: #34110b;
    color: yellow;
    padding: 15px;
    width: 98.4%;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: left;
}

.inhabitants-buttons {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.inhabitants-buttons .btn {
    height: 17px;
    width: 142px;
    background: yellow;
    border-radius: 2px;
    text-align: center;
    padding: 10px 0;
    font-family: monospace;
    font-weight: bold;
}

.inhabitant-data {
    margin-left: 20px;
}

.inh-container {
    display: flex;
    flex-direction: column;
}

.inh-container {
    color: yellow;
    font-family: monospace;
    font-size: 15px;
    padding: 15px;
}

.inh-container {
    width: 130px;
    text-align: center;
}

.inh-img {
    width: 130px;
    margin-bottom: 10px;
}